@charset "UTF-8";
/**
 * Styles for rich text content rendering
 * This stylesheet defines the appearance of various elements in the rich text editor's content view,
 * including typography, headings, lists, blockquotes, code blocks, tables and other formatting elements.
 */
.EchoContentView {
  /* Typography */
  /* https://github.com/ueberdosis/tiptap/issues/412 */
  /* Block Quote */
  /* Columns */
  /* List */
}
.EchoContentView p {
  @apply leading-relaxed mb-1.5 first:mt-0 last:mb-0;
}
.EchoContentView p:empty::after {
  content: " ";
}
.EchoContentView > p {
  @apply mb-1.5 first:mt-0 last:mb-0;
}
.EchoContentView h1 {
  @apply text-3xl;
}
.EchoContentView h2 {
  @apply text-2xl;
}
.EchoContentView h3 {
  @apply text-xl;
}
.EchoContentView h4 {
  @apply text-lg;
}
.EchoContentView h5 {
  @apply text-base;
}
.EchoContentView h6 {
  @apply text-sm;
}
.EchoContentView h1,
.EchoContentView h2,
.EchoContentView h3,
.EchoContentView h4,
.EchoContentView h5,
.EchoContentView h6 {
  @apply font-bold first:mt-0 last:mb-0;
}
.EchoContentView h1,
.EchoContentView h2,
.EchoContentView h3 {
  @apply mt-12;
}
.EchoContentView h4,
.EchoContentView h5,
.EchoContentView h6 {
  @apply mt-8;
}
.EchoContentView a.link {
  @apply text-blue-500 font-extrabold dark:text-blue-400;
}
.EchoContentView mark {
  @apply bg-red-500 rounded-sm decoration-clone text-inherit py-1 px-0 dark:bg-red-400;
}
.EchoContentView img {
  @apply h-auto max-w-full block;
}
.EchoContentView *[data-indent="1"] {
  text-indent: 2em !important;
}
.EchoContentView *[data-indent="2"] {
  text-indent: 4em !important;
}
.EchoContentView *[data-indent="3"] {
  text-indent: 6em !important;
}
.EchoContentView *[data-indent="4"] {
  text-indent: 8em !important;
}
.EchoContentView *[data-indent="5"] {
  text-indent: 10em !important;
}
.EchoContentView *[data-indent="6"] {
  text-indent: 12em !important;
}
.EchoContentView *[data-indent="7"] {
  text-indent: 14em !important;
}
.EchoContentView iframe {
  @apply w-full border border-border mt-2 rounded-sm h-[400px];
}
.EchoContentView [data-type=horizontalRule] {
  @apply my-8 py-4;
}
.EchoContentView [data-type=horizontalRule] hr {
  @apply border-0 border-t border-black/20 bg-black/80;
  @apply dark:border-white/20 dark:bg-white/80;
}
.EchoContentView .blockquote {
  @apply border-l-4 text-black border-l-neutral-700 py-2 px-4 bg-opacity-80 rounded-lg rounded-tl-none rounded-bl-none;
  @apply dark:border-l-neutral-300 dark:text-white;
}
.EchoContentView [data-type=columns] {
  @apply grid gap-4 mt-14 mb-12;
}
.EchoContentView [data-type=columns].layout-sidebar-left {
  grid-template-columns: 40fr 60fr;
}
.EchoContentView [data-type=columns].layout-sidebar-right {
  grid-template-columns: 60fr 40fr;
}
.EchoContentView [data-type=columns].layout-two-column {
  grid-template-columns: 1fr 1fr;
}
.EchoContentView [data-type=columns].layout-three-column {
  grid-template-columns: 1fr 1fr 1fr;
}
.EchoContentView [data-type=columns].layout-four-column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.EchoContentView [data-type=column] {
  @apply overflow-auto;
}
.EchoContentView code {
  @apply caret-white text-white bg-neutral-900 rounded-sm shadow-lg font-mono;
}
.EchoContentView code::selection {
  @apply bg-white/30;
}
.EchoContentView pre {
  @apply caret-white bg-neutral-700 text-white rounded my-8 p-4 border border-black dark:bg-neutral-900 dark:border-neutral-800;
}
.EchoContentView pre *::selection {
  @apply bg-white/20;
}
.EchoContentView pre code {
  @apply bg-inherit text-inherit p-0 shadow-none;
}
.EchoContentView pre .hljs-comment,
.EchoContentView pre .hljs-quote {
  @apply text-neutral-400;
}
.EchoContentView pre .hljs-variable,
.EchoContentView pre .hljs-template-variable,
.EchoContentView pre .hljs-attribute,
.EchoContentView pre .hljs-tag,
.EchoContentView pre .hljs-name,
.EchoContentView pre .hljs-regexp,
.EchoContentView pre .hljs-link,
.EchoContentView pre .hljs-name,
.EchoContentView pre .hljs-selector-id,
.EchoContentView pre .hljs-selector-class {
  @apply text-red-300;
}
.EchoContentView pre .hljs-number,
.EchoContentView pre .hljs-meta,
.EchoContentView pre .hljs-built_in,
.EchoContentView pre .hljs-builtin-name,
.EchoContentView pre .hljs-literal,
.EchoContentView pre .hljs-type,
.EchoContentView pre .hljs-params {
  @apply text-orange-300;
}
.EchoContentView pre .hljs-string,
.EchoContentView pre .hljs-symbol,
.EchoContentView pre .hljs-bullet {
  @apply text-lime-300;
}
.EchoContentView pre .hljs-title,
.EchoContentView pre .hljs-section {
  @apply text-yellow-300;
}
.EchoContentView pre .hljs-keyword,
.EchoContentView pre .hljs-selector-tag {
  @apply text-teal-300;
}
.EchoContentView pre .hljs-emphasis {
  font-style: italic;
}
.EchoContentView pre .hljs-strong {
  font-weight: 700;
}
.EchoContentView ol {
  @apply list-decimal;
}
.EchoContentView ul {
  @apply list-disc;
}
.EchoContentView ul,
.EchoContentView ol {
  @apply py-0 px-8 my-6 first:mt-0 last:mb-0;
}
.EchoContentView ul ul,
.EchoContentView ul ol,
.EchoContentView ul li,
.EchoContentView ol ul,
.EchoContentView ol ol,
.EchoContentView ol li {
  @apply my-1;
}
.EchoContentView ul p,
.EchoContentView ol p {
  @apply mt-0 mb-1;
}
.EchoContentView > ul, .EchoContentView > ol {
  @apply my-8 first:mt-0 last:mb-0;
}
.EchoContentView ul[data-type=taskList] {
  @apply list-none p-0;
}
.EchoContentView ul[data-type=taskList] p {
  @apply m-0;
}
.EchoContentView ul[data-type=taskList] li {
  @apply flex;
}
.EchoContentView ul[data-type=taskList] li > label {
  @apply grow-0 shrink-0 flex-auto mt-1 mr-2 select-none;
}
.EchoContentView ul[data-type=taskList] li > div {
  @apply flex-auto;
}
.EchoContentView ul[data-type=taskList] li[data-checked=true] {
  @apply line-through;
}
.EchoContentView table {
  @apply border-collapse border-black/10 table-fixed box-border overflow-x-auto overflow-y-hidden block;
  @apply dark:border-white/20;
}
.EchoContentView table td,
.EchoContentView table th {
  @apply border border-black/10 min-w-[1em] p-2 box-border relative text-left align-top border-solid;
  @apply dark:border-white/20;
}
.EchoContentView table td:first-of-type:not(a),
.EchoContentView table th:first-of-type:not(a) {
  @apply mt-0;
}
.EchoContentView table td p,
.EchoContentView table th p {
  @apply m-0;
}
.EchoContentView table td p + p,
.EchoContentView table th p + p {
  @apply mt-3;
}
.EchoContentView table th {
  @apply font-bold text-left;
}

